{% extends 'bounties/base.html' %}

{% block content %}

<h2>{{ bounty.name }}</h2>
<p>{{ bounty.text|linebreaks }}</p>
<p>
    {% if bounty.owner == request.user %}
        <a href="{% url 'bounties:edit_bounty' bounty.id %}">
            Uredi objavo <br/>
        </a>
    {% endif %}
</p>
<br/>
<br/>
<hr/>
<a href="{% url 'bounties:new_comment' topic_id bounty.id %}">Dodaj komentar</a>
<ul>
    {% for comment in comments %}
      <li>{{ comment.text|linebreaks }}</li>
      {% if comment.owner == request.user %}
        <a href="{% url 'bounties:edit_comment' bounty.id comment.id %}">Uredi komentar</a>
      {% endif %}
      <hr>
    {% empty %}
      <li>Nihče še ni komentiral</li>
    {% endfor %}
</ul>

{% endblock content %}