{% extends 'bounties/base.html' %}
{% block page_header %}
   <div class="p-3 mb-4 bg-light border rounded-3">
    <div class="container-fluid py-4">
       <h1 class="display-3">Odpravi vprašanja pri učenju</h1>

       <p class="lead">
        Zastavi vprašanja za katerokoli temo, ki te zanima in nekdo
        ti bo odgovoril. Prav tako lahko poiščeš odgovore na vprašanja,
        ki jih je nekdo že zastavil ali celo odgovoriš na vprašanja,
        ki še nimajo odgovora. Cilj je imeti stran, ki bo imela odgovore
        na večino vprašanj, ki jih imajo učenci.
       </p>

       <a class="btn btn-primary btn-lg mt-1"
        href="{% url 'accounts:register' %}">Prijavi se &raquo;</a>
    </div>
  </div>
{% endblock page_header %}