{% extends 'bounties/base.html' %}

{% block page_header %}
<h1>Predmet: {{ subject.name }}</h1>
{% endblock page_header %}

{% block content %}

<p>Teme: </p>

<ul class="list-group border-bottom pb-2 mb-4">
    {% for topic in topics %}
      <li class="list-group-item border-0">
        <a href="{% url 'bounties:topic' topic.id %}">{{ topic.name }}</a>
      </li>
    {% empty %}
      <li class="list-group-item border-0">Trenutno ni še nobene teme za ta predmet</li>
    {% endfor %}
</ul>

{% endblock content %}