{% extends 'bounties/base.html'  %}

{% block page_header %}
<h1>Predmeti:</h1>
{% endblock page_header %}
{% block content %}


<ul class="list-group border-bottom pb-2 mb-4">
    {% for subject in subjects %}
      <li class="list-group-item border-0">
        <a href="{% url 'bounties:subject' subject.id %}">{{ subject.name }}</a>
      </li>
    {% empty %}
      <li class="list-group-item border-0">Trenutno še ni nobenega predmeta</li>
    {% endfor %}
</ul>

{% endblock content %}