{% extends 'bounties/base.html' %}

{% block content %}

<p>Tema: {{ topic.name }}</p>

<p>Vprašanja: </p>
<p>
  <a href="{% url 'bounties:new_bounty' topic.id %}">Dodaj novo vprašanje</a>
</p>
<ul>
    {% for bounty in bounties %}
      <li>
        <p>{{ bounty.date_added|date:'M d, Y H:i' }}</p>
        <p><a href="{% url 'bounties:bounty' topic.id bounty.id %}">{{ bounty.name }}</a></p>
      </li>
    {% empty %}
      <li>Nihče še ni zastavil vprašanja za to temo.</li>
    {% endfor %}
</ul>

{% endblock content %}