{% extends 'bounties/base.html' %}

{% block page_header %}
<h1>Tema: {{ topic.name }}</h1>
{% endblock page_header %}

{% block content %}

<p>Vprašanja: </p>
<p>
  <a href="{% url 'bounties:new_bounty' topic.id %}">Dodaj novo vprašanje</a>
</p>
  {% for bounty in bounties %}
    <div class="card mb-3">
      <h4 class="card-header">
        {{ bounty.date_added|date:'M d, Y H:i' }}</p>
        <a href="{% url 'bounties:bounty' topic.id bounty.id %}">{{ bounty.name }}</a>
      </h4>
      <div class="card-body">{{ bounty.text }}</div>
    </div>
  {% empty %}
    <p>Nihče še ni zastavil vprašanja za to temo.</p>
  {% endfor %}


{% endblock content %}